.cooperation {
    min-height: 1500px;
    padding: 161px 64px;

    #cooperation {
        display: grid;
        grid-template-columns: 620px 430px;
        justify-content: center;
        justify-items: center;

    }

    &__descr {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 1.15px;
        text-align: left;
    }

    &__number-one {
        color: rgb(36, 36, 36);
        font-size: 64px;
        font-weight: 400;
        line-height: 64px;
        letter-spacing: 2.2px;
        text-align: left;
    }

    &__subdescr {
        color: rgb(0, 0, 0);
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.94px;
        text-align: left;
    }

    &__number-two {
        margin-top: 23px;
        color: rgb(36, 36, 36);
        font-size: 55px;
        font-weight: 400;
        line-height: 64px;
        letter-spacing: 2.2px;
        text-align: left;
    }

    &__descr-low {
        margin-top: 96px;
        color: rgb(36, 36, 36);
        font-size: 19px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.67px;
        text-align: left;
    }

    #gallery-two {
        padding: 226px 170px;
        display: grid;
        grid-template-columns: 430px 420px 500px;
        justify-content: center;
        justify-items: center;
    }

    #calendar {
        display: grid;
        grid-template-columns: 450px 550px 450px;
        justify-content: center;
        justify-items: center;
        gap: 48px;

    }

    &__data {
        color: rgb(133, 148, 171);
        font-size: 13px;
        font-weight: 400;
        line-height: 20.8px;
        letter-spacing: 0.8px;
        text-align: left;
    }

    &__text {
        color: rgb(36, 36, 36);
        font-size: 28px;
        font-weight: 400;
        line-height: 40.89px;
        letter-spacing: 1.42px;
        text-align: left;
    }

    #data {
        display: grid;
        align-self: center;
    }

    #text {
        display: grid;
        align-self: center;
    }

}