.hamburger {
    display: block;
    position: absolute;
    right: 10px;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
    margin-right: 109px;

    span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #000;
        margin-bottom: 6px;
        transition: 0.5s all;
    }

    .hamburger:hover {
        span {
            margin-bottom: -2px;

            &:nth-child(1) {
                transform: translateY(3px) rotate(-45deg);
            }

            &:nth-child(2) {
                display: none;
            }
        }
    }
}